@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
	
$red: #EA5B5B;
$orange: #FBD894;
$blue_violet: #3F3A58;
$green: #15DBA7;









* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $blue_violet;
	color: white;
}

img {
	width: 100%;
	display: block;
}
.card-wrapper {
	width: 100%;
	padding: 3em;

	& .card {
		padding: 4em 6em;
		display: grid;
		grid-template-columns: 30% auto;
		border: #dddddd4a solid;

		& .img-cover {
			display: flex;
			width: 100%;
			transition: all 0.5s ease;
		}

		& .product-content {
			padding: 1rem 3rem;
		}
		& .product-title {
			font-size: 3.5rem;
			text-transform: uppercase;
			font-weight: bolder;
			position: relative;
			margin: 1rem 0;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 5px;
				width: 8em;
				background: $red;
			}
		}
		
		& .product-price {
			margin: 1rem 0;
			font-size: 1rem;
			font-weight: 200;

			& span {
				font-weight: 700;
				color: #fff;
			}
		}

		& .product-detail {
			& h2 {
				text-transform: capitalize;
				color: $orange;
				padding-bottom: 0.6rem;
			}
			& p {
				font-size: 0.9rem;
				padding: 0.3rem;
				opacity: 0.8;
				width: 50em;
			}
			& .ul {
				margin: 1rem 0;
				font-size: 0.9rem;
				list-style-type: square;
				margin-left: 1.5em;
				display: flex;

				& p {
					margin-left: 1em ;
					padding-left: 2rem;
					margin: 0.4rem 0;
					font-weight: 600;
					

					& span {
						font-weight: 400;
					}
				}
			}
			& .product-rating {
			display: block;

			& span {
				font-weight: 600;
				color: #ffffff;
			}
		}
		}

		& .purchase-info {
			margin: 1.5rem 0;
			display: flex;
			justify-content: start;
			align-items: center;

			& input,
			.btn {
				border: 1.5px solid #dddddd4a;
				border-radius: 5px;
				text-align: center;
				padding: 0.45rem 0.8rem;
				outline: 0;
				margin-right: 0.2rem;
				margin-bottom: 1rem;
				width: 2em;
			}

			& input {
				width: 60px;
			}
			& .btn {
				cursor: pointer;
				color: #fff;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				font-weight: bolder;
				padding: .5em 4em;

				&:first-of-type {
					background: $green;
					width: fit-content;
				}

				&:hover {
					opacity: 0.9;
				}
				& svg {
					background-color: transparent;
					margin-right: 7px;
					width: 1.5em;
					fill: $blue_violet;
				}
			}
		}
	}
}

// @media screen and (min-width: 992px){
//     .card{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 1.5rem;
//     }
//     .card-wrapper{
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     .product-imgs{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
//     .product-content{
//         padding-top: 0;
//     }
// }
