@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$dark: #131325;

// Color Codes	Tags
// EA5B5B.png	
$red: #EA5B5B;
// RGB: 234, 91, 91
// CMYK: 0, 61.1, 61.1, 8.2
// HSV: 0, 61, 92
// EA5B5B
// mandy
// red
	
$yellow_orange: #FBD894;



$blue_violet: #3F3A58;


$blue_green: #15DBA7;









* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $dark;
	color: white;
}

img {
	width: 100%;
	display: block;
}
.card-wrapper {
	width: 100%;

	& .card {
		padding: 4em 6em;
		display: grid;
		grid-template-columns: 30% auto;

		& .img-cover {
			display: flex;
			width: 100%;
			transition: all 0.5s ease;
		}

		& .product-content {
			padding: 1rem 3rem;
		}
		& .product-title {
			font-size: 3rem;
			text-transform: capitalize;
			font-weight: 700;
			position: relative;
			margin: 1rem 0;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 4px;
				width: 80px;
				background: #d903ff;
			}
		}
		& .product-rating {
			color: #07ffb5;

			& span {
				font-weight: 600;
				color: #ffffff;
			}
		}
		& .product-price {
			margin: 1rem 0;
			font-size: 1rem;
			font-weight: 700;

			& span {
				font-weight: 400;
				color: #d35680;
			}
		}

		& .product-detail {
			& h2 {
				text-transform: capitalize;
				color: #63d68d;
				padding-bottom: 0.6rem;
			}
			& p {
				font-size: 0.9rem;
				padding: 0.3rem;
				opacity: 0.8;
				width: 50em;
			}
			& ul {
				margin: 1rem 0;
				font-size: 0.9rem;
				list-style-type: square;
				margin-left: 1.5em;

				& li {
					margin: 0;
					list-style: none;
					background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png)
						left center no-repeat;
					background-size: 18px;
					padding-left: 1.7rem;
					margin: 0.4rem 0;
					font-weight: 600;
					opacity: 0.9;

					& span {
						font-weight: 400;
					}
				}
			}
		}

		& .purchase-info {
			margin: 1.5rem 0;
			display: flex;
			justify-content: start;
			align-items: center;

			& input,
			.btn {
				border: 1.5px solid #ddd;
				border-radius: 5px;
				text-align: center;
				padding: 0.45rem 0.8rem;
				outline: 0;
				margin-right: 0.2rem;
				margin-bottom: 1rem;
				width: 2em;
			}

			& input {
				width: 60px;
			}
			& .btn {
				cursor: pointer;
				color: #fff;
				display: inline-flex;
				justify-content: center;
				align-items: center;

				&:first-of-type {
					background: #256eff;
					width: fit-content;
				}

				&:hover {
					opacity: 0.9;
				}
				& svg {
					background-color: transparent;
					margin-right: 7px;
					width: 1.5em;
					fill: $dark;
				}
			}
		}
	}
}

// @media screen and (min-width: 992px){
//     .card{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 1.5rem;
//     }
//     .card-wrapper{
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     .product-imgs{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
//     .product-content{
//         padding-top: 0;
//     }
// }
